{
  "endOfLine": "lf",
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "parser": "typescript",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,
  "requirePragma": true,
  "insertPragma": true,
  "printWidth": 80,
  "error": {
    "singleQuote": true,
    "semi": false
  },
}
