.component-7-–-1 {
  &__63506b3da2654ba9afc4c0db6f34dd82 {
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 16px;
    line-height: (38 / 16);
    font-weight: 500;
    color: #000;
  }

  &__4ea2642ec08b47afb015b4864b6d5392 {
  }

  &__8e35c83d89ae4d909ac8e46760b82a8d {
  }
}
